.group__unity
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .group__unity_top-box
      .group__unity_group-name
        グループ名
      .group__unity_center-box
      .group__unity_message
        新着メッセージ
      .group__unity_bottom-box
