.group__unity
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .group__unity_top-box
      .group__unity_group-name
        = group.name
      .group__unity_center-box
      .group__unity_message
        メッセージはまだありません
      .group__unity_bottom-box
