.left-contents
  .left-contents__top
    .left-contents__top_text sss
    .left-contents__top_i.far.fa-edit
    .left-contents__top_i.fas.fa-cog
  .left-contents__bottom
    .left-contents__bottom_box1
    .left-contents__bottom_text1 group1
    .left-contents__bottom_box2
    .left-contents__bottom_text2 まだメッセージはありません。
    .left-contents__bottom_box3

    .left-contents__bottom_text1 group1
    .left-contents__bottom_box2
    .left-contents__bottom_text2 まだメッセージはありません。
    .left-contents__bottom_box3
