.left-contents
  .left-contents__top
    .left-contents__top_user-name sss
    .left-contents__top_icon.far.fa-edit
    .left-contents__top_icon.fas.fa-cog
  .left-contents__bottom
    .left-contents__bottom__unity
      .left-contents__bottom__unity_top-box
      .left-contents__bottom__unity_group-name group1
      .left-contents__bottom__unity_center-box
      .left-contents__bottom__unity_message まだメッセージはありません。
      .left-contents__bottom__unity_bottom-box
    .left-contents__bottom__unity
      .left-contents__bottom__unity_top-box
      .left-contents__bottom__unity_group-name group1
      .left-contents__bottom__unity_center-box
      .left-contents__bottom__unity_message まだメッセージはありません。
      .left-contents__bottom__unity_bottom-box
    
