%body
  .flash-message
    .flash-message_text チャットグループが作成されました。
  .contents
    = render partial: "left-contents"

    .right-contents
      .right-contents__top
        .right-contents__top_box1
        .right-contents__top_text1 sampleグループ
        .right-contents__top_edit Edit
        .right-contents__top_box2
        .right-contents__top_text2 Members:sample,sample
      .right-contents__center
        .right-contents__center_box1
        .right-contents__center_text1 sample-name
        .right-contents__center_day 2018/07/07 17:30:00
        .right-contents__center_box2
        .right-contents__center_text2 texttext
        .right-contents__center_box3

        .right-contents__center_text1 sample-name
        .right-contents__center_day 2018/07/07 17:30:00
        .right-contents__center_box2
        .right-contents__center_text2 texttext
        .right-contents__center_box3
      .right-contents__bottom
        .right-contents__bottom_textbox
          .right-contents__bottom_textbox_text sample-text
          .right-contents__bottom_textbox_i.far.fa-image
        .right-contents__bottom_send Send
  

